@font-face{
    src:url(font/HelveticaNeue-light.otf);
    font-family: 'HelveticaNeue'
}
body {
    font-family: 'Arial';
    font-size: 13px;
}
.no-gutters {
    padding: 0px;
}

#main-img {
    background: url(image/index-background1.jpg);
}