#background_space {
	width: 100%;
	height:500px;
	background-image: url("./images/mainbackground.png");
	background-size:cover;
	background-repeat: no-repeat;
	background-position: center;
}

@media only screen and (max-width: 768px){
#background_space {
	height: 300px;
}
}

#slogan {
	text-align: center;
	margin-top: 20px;
	margin-bottom: 20px;
}

.content {
	padding: 10px 20px;
	text-align: justify;
	font-size: 16px;
}
.archive_item {
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center;
	display: block;
	height:40px;
}

#e27 {
	background-image: url("./images/e27.png");
}

#tech_asia {
	background-image:url("./images/teach-asia.png");
}

#top100 {
	background-image:url("./images/top-100.png");
}

#fbnc {
	background-image:url("./images/fbnc.png");
}

.achivement {
	height: 50px; 
	float:left;
}

.list-awards {
	display: inline-block;
	width:100%;
}

.media_header {
	width: 64px;
	height:64px;
}

.Advantages {
	width: 90px;
	max-width: 100%;
	display: unset;
	vertical-align: middle;
}

#divFooter {
		background-color: #d6d4d4;
}

.no-gutters {
	padding: 0px;
}

