#background_space {
	width: 100%;
	height:400px;
	background-image: url(http://pre00.deviantart.net/1ecd/th/pre/f/2013/275/f/1/free__iwatobi_swim_club_logo_by_havoc3001-d6dpoyv.png);
	background-size:cover;
	background-repeat: no-repeat;
	background-position: center;
}

@media only screen and (max-width: 768px){
#background_space {
	height: 300px;
}
}

.achivement {
	height: 80px; 
	float:left;
}

.list-awards {
	display: inline-block;
	width:100%;
}

.media_header {
	width: 64px;
	height:64px;
}

.no-gutters {
	padding: 0px;
}
